:root {
	--primary-color: #c80000;
	--primary-color-darker: #460101;
	--secondary-color: #666;
	--tertiary-color: #ccc;
	--text-color-light: white;
	--text-color-dark: black;
}

html {
	margin: 0;
	font-family: 'Raleway', 'Roboto', sans-serif;
}

body {
	line-height: 1.5;
	margin: 0;
}

/*------------header en red-------------------*/
.header__top {
	background-color: var(--primary-color);
	color: var(--text-color-light);
	height: 6rem;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
}

.header__top-description {
	margin: 0;
	padding: 1rem;
	font-weight: 700;
}

.header__top-logo {
	font-size: 2.5rem;
}

/*-----------bandeau gris-------------*/

.title {
	background-color: var(--secondary-color);
	color: var(--text-color-light);
	margin: 0;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
}

/*-----------main avec le formulaire ----------------*/

.box {
	max-width: 42rem;
	margin: 2rem auto;
	padding-inline: 3rem;
}

.livraison {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

.livraison__title {
	font-size: 2rem;
}

.livraison__subtitle {
	color: #666;
	font-weight: bold;
	margin-block: 0.5rem;
	font-size: 1.2rem;
}

.livraison__preference,
.livraison__address {
	width: 20rem;
}

.livraison__preference div {
	margin-bottom: 0.5rem;
}
.livraison__address fieldset {
	display: flex;
	flex-direction: column;
}

.livraison__address input,
textarea {
	margin-bottom: 1rem;
	border: none;
	background-color: rgba(100, 100, 100, 0.05);
	border-bottom: solid 1px #a0a0a0;
}

.livraison__address input {
	height: 2rem;
}

.livraison__address textarea {
	height: 5rem;
}

.price {
	/* margin-inline: 1rem; */
	padding: 2rem;
	position: relative;
	border-radius: 16px;
	box-shadow: 1px 1px 5px grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price::before,
.price::after,
.buttons::after{
	content: '';
	height: 1px;
	width: 105%;
	position: absolute;
	left: -1rem;
	background-color: #666;
}

.price::before {
	top: -1rem;
}

.price::after {
	bottom: -1rem;
}

.price p {
	margin: 0;
	font-weight: bold;
}

.price__number {
	color: #c80000;
	font-size: 1.5rem;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	/* padding: 2rem; */
	position: relative;
	border-radius: 16px;
	align-items: center;
}

.buttons::after{
	width: 105%;
	bottom: -1rem;
}

.buttons button {
	font-size: 1rem;
	font-weight: bold;
	padding: 1rem 2rem;
	border: none;
	border-radius: 8px;
}

.buttons__desactive {
	transition: all 0.3s ease-in-out;
}

.buttons__desactive:hover {
	background-color: #32af00;
}

.buttons__active {
	background-color: #c80000;
	color: white;
	transition: all 0.3s ease-in-out;
}

.buttons__active:hover {
	background-color: #460101;
}

/*--------- étiquette verticale soldes à gauche -----------*/
.ticket__sold {
	background-color: var(--primary-color);
	width: 1.5rem;
	padding: 1rem 0.5rem;
	border-radius: 0 10px 10px 0;
	position: fixed;
	top: 16rem;
	left: 0;
	transition: all 0.3s ease-in-out;
}

.ticket__sold:hover {
	width: 3rem;
	background-color: var(--primary-color-darker);
}

.ticket__sold a {
	color: var(--text-color-light);
	text-transform: uppercase;
	font-weight: 700;
	writing-mode: vertical-rl;
	text-orientation: upright;
	margin: 0;
	text-decoration: none;
}
/*-----------footer------------*/

footer {
	background-color: var(--secondary-color);
	color: var(--text-color-light);
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../images/deco.png');
	background-repeat: repeat-x;
	text-align: center;
}

footer p {
	margin: 0;
}


/*-----------media queries----------*/

@media (0<= width <= 425px){
	.price {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 1rem;
	}

	.buttons {
		flex-direction: column;
		gap: 1rem;
	}

	.buttons button{
		width: 100%;
	}

	.livraison__address{
		margin-left: 1.2rem;
	}
}